.static {
	.about-us {
		.general-info {
		  margin-top: -180px;
		  padding-top: 180px !important;

		  .aboutus-mobile {
		    display: none;
		    height: auto;
		    margin: 0 auto;
		    padding-bottom: 40px;
		    width: 110px;
		  }

		  .section {
		    padding-bottom: 120px;
		    text-align: justify;
	      width: 66%;

		    &:nth-child(odd) {
		      margin-left: 9%;
		    }

		    &.history {
		      width: 82%;
		    }

		    &.problem {
		      width: 82%;
		    }

		    &.solution {
		      width: 73%;
		    }

		    .text {
		      margin-bottom: 0;
		    }

		    .title {
		      padding-bottom: 25px;
		    }
		  }
		}

		.faq,
		.general-info {
		  padding: 60px;
		}

		.faq {
		  padding-top: 90px;

		  > .title {
		    padding-bottom: 26px;
		  }

		  .question {
		    padding-bottom: 80px;
		  }

		  .questions {
		    padding-bottom: 20px;
		  }
		}

		.main-section {
			margin: 0 auto;
			width: 1020px;
		}
	}

	.menu-underscore:hover {
    border-bottom: 6px #6f00a7 solid;
  	box-shadow: 0 18px 23px -6px rgba(111, 0, 167, 0.2);
  	text-decoration: none;
  	color: #333;
  }

	@media only screen and (max-width: 1365px) {
		.about-us .main-section {
			width: 100%;
		}
	}

	@media only screen and (max-width: 1199px) {
	  .about-us .general-info .section {
	    margin: 0;
	    padding-bottom: 50px;
	    text-align: center;
	    width: 100% !important;

		  &:nth-child(odd) {
		    margin: 0;
		  }
	  }

	}

	@media only screen and (max-width: 939px) {
		.about-us {
		  .faq,
		  .general-info, .header {
		    padding: 30px;
		  }

		  .faq .question {
		    padding-bottom: 30px;
		  }

			.general-info {
		    margin-top: -306px;
		    padding-top: 306px !important;

		    .aboutus-mobile {
		    	display: block;
		    }
			}
		}
	}

	@media only screen and (max-width: 770px) {
  
		nav span{
			display: block;
		}

		.link{
			margin-left: 0 !important;
			padding-top: 20px;
		}

	}
}
