.static {
	.about-us {
		.general-info {
		  margin-top: -180px;
		  padding-top: 180px !important;

		  .aboutus-mobile {
		    display: block;
		    height: auto;
		    margin: 0 auto;
		    padding-bottom: 40px;
		    width: 110px;
		  }

		  .section {
		    padding-bottom: 120px;
		    text-align: justify;
	      width: 66%;

		    &:nth-child(odd) {
		      margin-left: 9%;
		    }

		    &.history {
		      width: 82%;
		    }

		    &.problem {
		      width: 82%;
		    }

		    &.solution {
		      width: 73%;
		    }

		    .text {
		      margin-bottom: 0;
		    }

		    .title {
		      padding-bottom: 25px;
		    }
		  }
		}

		.faq,
		.general-info {
		  padding: 60px;
		}

		.faq {
		  padding-top: 90px;

		  > .title {
		    padding-bottom: 26px;
		  }

		  .question {
		    padding-bottom: 80px;
		  }

		  .questions {
		    padding-bottom: 20px;
		  }
		}
	}

	@media only screen and (max-width: 1199px) {
	  .about-us .general-info .section {
	    margin: 0;
	    padding-bottom: 50px;
	    text-align: center;
	    width: 100% !important;

		  &:nth-child(odd) {
		    margin: 0;
		  }
	  }

	}

	@media only screen and (max-width: 939px) {
		.about-us {
		  .faq,
		  .general-info, .header {
		    padding: 30px;
		  }

		  .faq .question {
		    padding-bottom: 30px;
		  }

			.general-info {
		    margin-top: -306px;
		    padding-top: 306px !important;
			}
		}
	}
}
