body,
html {
  height: 100%;
}
body {
  font-family: 'Arvo', serif;
}

#desktop{
  display: block;
}
#mobile{
  display: none;
}

.static {
  small {
    &.text {
    display: block;
    font-size: 18px;
      &.disclaimer {
        margin: 30px 30%;
      }
    }
  }

  .content {
    background: url(image-path("static/background.png")) no-repeat left top;
    background-size: cover;
  }

  .custom-container {
    margin: 0 auto;
  }

  .download {
    text-align: center;
    
    .btn {
      background: linear-gradient(to right, #713aa6 0%, #7f3f98 30%, #7f3f98 70%, #713aa6 100%);
      border-radius: 41px;
      color: white;
      font-size: 26px;
      padding: 20px 48px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .link,
  .text,
  .title {
    color: #252525;
    font-size: 24px;
  }

  .link,
  .title {
    font-weight: bold;
  }

  .gradient-section {
    background: linear-gradient(#eaeaea 60%, transparent);
  }

  .header {
    margin: 0 auto;
    padding: 60px;
    width: 1140px
  }

  .header .links {
    float: right;
    margin-top: -15px;
    
    .link {
      display: inline-block;
      font-weight: normal;
      margin-left: 20px;
    }
  }

  .header .logos {
    display: block;
    float: left;

    &.great .logo {
      width: 140px;
    }

    &.small {
      text-align: center;

      .logo,
      .mudamos {
        display: inline-block;
      }

      .logo {
        width: 60px;
      }

      .mudamos {
        width: 250px;
      }
    }
  }

  .major-title {
    font-size: 46px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 30px;
  }

  .only-mobile {
    display: none !important;
  }

  .underscore:hover {
    border-bottom: 8px #6f00a7 solid;
    box-shadow: 13px 18px 23px -4px rgba(111, 0, 167, 0.2);
    text-decoration: none;
  }

  @media only screen and (max-width: 1365px) {
    .header {
      width: 100%;
    }
  }

  @media only screen and (max-width: 939px) {
    small.text {
      font-size: 12px;
      margin: 30px 13%;
    }

    .content {
      background: url(image-path("static/background-mobile.png")) no-repeat left top;
      text-align: center;

      .general-info .section {
        margin: 0;
        width: 100%;
      }
    }

    .custom-container {
      padding-top: 0;
    }

    .download .btn {
      font-size: 20px;
      padding: 10px 28px;
    }

    .link,
    .major-title,
    .title,
    .text {
      font-size: 16px;
    }

    .header {
      .logos,
      .links {
        float: none;
        margin: 0 auto;
        text-align: center;
      }

      .links {
        padding-bottom: 20px;
      }
    }


    .only-desktop {
      display: none;
    }

    .only-mobile {
      display: block;
    }

    .underscore {
      border-bottom: 4px #6f00a7 solid;
    }
  }

  @media only screen and (max-width: 770px) {
    #desktop{
      display: none;
    }
    #mobile{
      display: block;      
    }
    .mobile{
      padding: 40px 0 20px 0;
    }
    .link-mobile{
      margin-bottom: 20px;
    }
    .mobile-img{
      padding-bottom: 35px;
      text-align: center;
    }
    .link{
      font-weight: normal !important;
    }
  }

  @media only screen and (max-width: 479px) {
    .download .btn {
      font-size: 13px;
      padding: 6px 25px;
    }

    .header {
      padding: 60px 0;

      .logos {
        padding-top: 20px;

        .small {
          .logo {
            width: 38px;
          }

          .mudamos {
            margin-left: 5px;
            width: 153px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 479px) {
    .header .link {
      font-size: 14px;
    }
  }
}
