.homepage {
	.app-info {
	  margin-top: -260px;
	  padding: 256px 60px 0;
	  
	  .app-mobile {
	    padding-bottom: 75px;

	  	.inner-content {
	  		width: calc(100% - 370px);

				.download {
		      text-align: left;
		    }

		    .major-title {
		      font-size: 31px;
		      margin-bottom: 25px;
		    }

		    .mudamos-title {
		      padding-bottom: 30px;
		      width: 290px;
		    }

		    .text {
		      margin-bottom: 0px;
		      padding-bottom: 30px;
		    }
	  	}

	    .section-image {
	      margin-top: -120px;
	      position: relative;
	      width: 370px;

	      .download {
	      	display: none;
	      	position: absolute;
	      	top: 50%;
	      }

	      .image {
	        width: 100%;
	      }

	      .plus {
	        opacity: .7;
	        position: absolute;
	        width: 200px;

		      &.bottom {
		        bottom: 61px;
		        left: -13px;
		      }
		      &.top {
		        right: -20px;
		        top: 30px;
		      }
	      }
	    }
	  }

    .law-proposal {
    	padding-bottom: 140px;
	    
	    .section-image .image {
	      padding: 0 90px 0 130px;
	    }
    }

    .section {
    	.text {
      	margin-bottom: 25px;
    	}
	    .title {
	      padding-bottom: 40px;
	    }
    }

    .sign-project {
      padding-bottom: 150px;

      .section-image {
        margin-right: 70px;
      }
    }
	}

	.carousel {
		.carousel-control {
	    background: none;
	    opacity: .8;

			img {
		    position: absolute;
		    top: 50%;
			}

			&.left {
			 left: -110px;
			}

			&.right {
			 right: -48px;
			}
		}

		.carousel-inner .item {
	    padding: 50px;

			.aditional-info {
		    float: right;
		    width: 30%;

				.image {
			    display: block;
			    margin: auto;
			    padding-bottom: 20px;
			    padding-top: 52px;
			    width: 167px;
				}
			}

			.signatures {
			  float: left;
			  width: 64%;
			}
		}
	}


	.sponsors {
	  text-align: center;

	  .title {
	    font-size: 30px;
	  }

	  .media {
	    padding-bottom: 90px;
	  }

	  .media .g1,
	  .sponsor-images .image {
	    padding: 0 35px;
	  }

	  .sponsor-images {
	    padding-top: 20px;

	    .google,
	    .meu-rio {
	      margin: 0 -35px;
	    }
	  }
	}

	@media only screen and (max-width: 1365px) {
		.sponsors .media .g1,
		.sponsors .sponsor-images .image {
		  padding: 0 30px;
		}
	}

	@media only screen and (max-width: 1199px) {
		.sponsors .sponsor-images {
		  .image {
		    padding: 0 10px;
		  }

		  .image.google,
		  .image.meu-rio {
		    margin: 0 -20px;
		  }

		  .google {
		    width: 200px;
		  }

		  .meu-rio {
		    width: 170px;
		  }

		  .mcce {
		    width: 110px;
		  }

		  .mtp {
		    width: 240px;
		  }

		  .nossas-cidades {
		    width: 140px;
		  }
		}
	}

	@media only screen and (max-width: 939px) {
	  text-align: center;

		.app-info {
		  margin-top: -321px;
		  padding: 321px 60px 0;

		  .app-mobile {
				.download {
				  text-align: center;
				  z-index: 2;
				}

				.inner-content {
					width: 100%;

					.download {
						display: none;
					}

					.major-title {
					  font-size: 16px;
					  margin-bottom: 0px;
					}

					.mudamos-title {
					  padding-bottom: 30px;
					  width: 180px;
					}
				}

				.section-image {
				  margin-top: 0;
				  width: 175px;
				  z-index: 1;
					
					.download {
						display: inline-block;
						left: -50%;
						top: 39%;
					}

					.plus {
				    display: none;
				  }
				}
		  }

			.law-proposal {
				.section-image .image {
				  padding: 0 0px 38px 20px;
				  width: 130px;
				}
			}

			.link {
			  font-size: 12px;
			}

			.inner-content,
			.section-image {
				float: none !important;
			}

			.section-image {
			  margin: 0 auto;
			}

			.sign-project {
			    padding-bottom: 95px;

			  .section-image {
			    margin-right: 0;
			    padding-bottom: 38px;

			    .image {
			      width: 140px;
			    }
			  }
			}
		}

		.sponsors .media {
		  padding-bottom: 50px;

		  .epoca,
		  .folha,
		  .g1 {
		    width: 50px;
		  }

		  .conversa-bial {
		    margin: 0 -10px;
		    width: 120px;
		  }

		  .globo-news {
		    width: 120px;
		  }
		}

		.sponsors .media .g1,
		.sponsors .sponsor-images .image {
		  margin: 0 5px;
		  padding: 0px 0px;
		}

		.sponsors {
			.sponsor-images {
				.image.google,
				.image.meu-rio {
				  margin: 0 -10px;
				}

				.google {
				  width: 90px;
				}

				.meu-rio {
				  width: 65px;
				}

				.mcce {
				  width: 70px;
				}

				.nossas-cidades {
				  width: 82px;
				}

				.mtp {
				  width: 135px;
				}

			}

		  .title {
			  font-size: 16px;
			}
		}
	}

	@media only screen and (max-width: 479px) {
		.app-info .app-mobile {
		  .download .btn {
			  margin-left: -13px;
			}

			.section-image .download {
		    left: -8%;
			}
		}

		.sponsors {
			.media {
				.epoca,
				.folha,
				.g1 {
				  width: 30px;
				}

				.conversa-bial {
				  width: 85px;
				}

				.globo-news {
				  width: 80px;
				}
			}

			.media .g1,
			.sponsor-images .image {
			  margin: 0 5px;
			  padding: 0px 0px;
			}

			.sponsor-images {
				.image.google,
				.image.meu-rio {
				  margin: 0 -10px;
				}

				.google {
				  width: 60px;
				}

				.meu-rio {
				  width: 50px;
				}

				.mcce {
				  width: 43px;
				}

				.mtp {
				  width: 95px;
				}

				.nossas-cidades {
				  width: 45px;
				}
			}
		}
	}
}
	