.git
.gitignore
.dockerignore
.editorconfig
.bundle
.bin
.ruby-version
.rubocop.yml
.rspec
*.swp
spec
log
tmp
docker-compose.yml
Dockerfile
CHANGELOG.md
README.md
vendor
!vendor/assets
public/assets
public/uploads
env
env.*
