section.container-fluid#verify-document
  .container.upload
    .header-image
    p.explanation Os documentos emitidos pelo nosso sistema são autenticados, envie um arquivo abaixo para verificar se ele foi gerado pela Mudamos.

    div.box-upload
      .mudamos-file-container.hidden
        span.mudamos-file
        p Solte o arquivo para verificá-lo

      .box-input
        input#document type="file"
        .when-dragndrop
          .upload-icon
          p.drag-hint Arraste um arquivo ou
          label.rounded-button.text-uppercase.select-file for="document" Selecione
        label.rounded-button.text-uppercase.select-file.no-drag for="document" Selecionar arquivo

  .container.result
    .wrapper

    button.rounded-button.text-uppercase.new-document Validar outro documento
    button.rounded-button.text-uppercase.new-document.mobile Validar outro

    javascript:
      $(document).ready(function() {
        var hasDragNDrop = function() {
          var div = document.createElement("div");
          return ("draggable" in div) || ("ondragstart" in div && "ondrop" in div);
        }();

        if (hasDragNDrop && false) {
          $(".box-upload").addClass("has-dragndrop");
        }

        $("#verify-document, .mudamos-file-container").on("drag dragstart dragend dragover dragenter dragleave drop", function(e) {
          e.preventDefault();
          e.stopPropagation();
        })
          .on("dragover dragenter", function() {
            $("#verify-document").addClass("is-dragover");
          });

        $(".mudamos-file-container")
          .on("dragleave dragend drop", function() {
            $("#verify-document").removeClass("is-dragover");
          })
          .on("drop", function(e) {
            verify(e.originalEvent.dataTransfer.files[0]);
          });

        $("#document").on("change", function(e) {
          verify($(this).get(0).files[0]);
        });

        $(".new-document").on("click", hideResult);

        $("[data-toggle='tooltip']").tooltip();

        function verify(file) {
          var reader = new FileReader;
          reader.onload = function() {
            var sha = asmCrypto.SHA256.hex(reader.result);
            document.start_loading();
            apiClient.getPetitionStatus(sha)
              .then(function(result) {
                if (result.status.status == "confirmed") {
                  showResult(result.status);
                } else {
                  showResult();
                }
              }).fail(function(err) {
                showResult();
              })
              .always(function() {
                $("#document").val(null);
                document.stop_loading();
              });
          }

          reader.readAsArrayBuffer(file);
        }

        function showResult(status) {
          var $container = $(".container.result .wrapper");
          if (status) {
            $container.html(JST["templates/petitions/valid"]({ status: status }));
          } else {
            $container.html(JST["templates/petitions/invalid"]());
          }

          $(".container.upload").slideUp();
          $(".container.result").slideDown();
        };

        function hideResult() {
          $(".container.result").slideUp();
          $(".container.upload").slideDown();
        };
      });
