<div>
  <h3>Gênero</h3>
  <select name="gender">
    <option value>Gênero</option>
    <% User.genders.keys.each do |k|%>
      <option value="<%=k%>"><%= k %></option>
    <% end %>
  </select>
  <script type="text/javascript">
  $("select[name=gender]").val("<%%= user.gender %>");
  $("select[name=gender]").select2({
    placeholder: "Gênero",
    minimumResultsForSearch: -1
  });

  </script>
</div>
