<div>
  <h3>Estado</h3>
  <select name="state">
    <option value>Estado</option>
    <% STATES.each do |state|%>
      <option value="<%=state[1]%>"><%= state[0] %></option>
    <% end %>
  </select>
  <script type="text/javascript">
  $("select[name=state]").val("<%%= user.state %>");
  $("select[name=state]").select2({
    placeholder: "Estado"
  });

  </script>
</div>
