a {
  text-decoration: none;
}

body {
  background:
    linear-gradient(105deg, rgba(0, 0, 0, 0.24) 42%, transparent 70%),
    url("https://s3-sa-east-1.amazonaws.com/mudamos-images/images/landing/background.png") #dedede;
  background-attachment: fixed;
  font-family: "Nunito", sans-serif;
  height: 100%;
  min-height: 100%;
  position: relative;
  display: table;
  width: 100%;
}

h1, p, .close {
  text-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.7px;
  margin: 0 0 17px;
  text-transform: uppercase;
}

html {
  height: 100%;
}

p {
  color: #000;
  font-size: 24.5px;
  line-height: 40px;
  margin: 7px 0 38px;
}

#download {
  border: 5px solid #333;
  border-radius: 100px;
  padding: 10px 27px;
}

#download .icon {
  background: url("https://s3-sa-east-1.amazonaws.com/mudamos-images/images/landing/download_icon.svg") no-repeat;
  display: inline-block;
  height: 37px;
  margin-right: 13px;
  width: 39px;
}

#download .label {
  color: #333;
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-size: 29px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 37px;
}

#download * {
  vertical-align: middle;
}

#google-play {
  margin-left: 17px;
}

.mockup img {
  height: calc(100vh - 40px);
  max-height: 698px;
  min-height: 570px;
}

.clearfix {
  clear: both;
}

a {
  display: inline-block;
}

.container {
  margin: 0 auto;
  max-width: 510px;
  padding: 0 20px;
}

.container .close {
  color: #492F85;
  font-family: "Nunito", sans-serif;
  font-size: 19.5px;
  font-weight: bold;
  letter-spacing: -0.2px;
  margin-top: 17px;
  padding: 22px 0;
}

.animatable {
  visibility: hidden;
}

.drawing {
  position: absolute;
  z-index: -1;
}

.drawing.small {
  width: 114px;
  height: 114px;
  opacity: 0.6;
}

.drawing.big {
  width: 508px;
  height: 508px;
  opacity: 0.75;
}

.animatable.anim, .animatable.no-anim {
  visibility: visible; /* after detecting the animation support, make them appear */
}

.drawing.bottom.right {
  bottom: -38px;
  right: -12px;
}

.drawing.bottom.right.anim {
  bottom: -114px; /* hide it before animation to avoid flickering if there is a animation delay */
}

.drawing.bottom.left {
  bottom: -154px;
  left: 20%;
}

.drawing.bottom.left.anim {
  bottom: -508px;
}

.drawing.top.right {
  top: -194px;
  right: -245px;
  width: 606px;
  height: 606px;
}

.drawing.top.right.anim {
  top: 100%;
  right: -217px;
}

.drawing.top.left.one {
  top: -78px;
  left: -120px;
}

.drawing.top.left.one.anim {
  top: 100%;
  left: -148px;
}

.drawing.top.left.two {
  top: -148px;
  left: 25%;
  width: 320px;
  height: 320px;
}

.drawing.top.left.two.anim {
  top: 100%;
  left: 16%;
}

.drawing.top.left.three {
  top: 260px;
  left: -18px;
}

.drawing.top.left.three.anim {
  top: 100%;
  left: -46px;
}

.drawing.top.left.four {
  top: 54px;
  left: 162px;
}

.drawing.top.left.four.anim {
  top: 100%;
  left: 136px;
}

.drawing.top.left.five {
  top: 4px;
  left: 274px;
}

.drawing.top.left.five.anim {
  top: 100%;
  left: 246px;
}

.drawing.top.left.six {
  top: 68px;
  left: 354px;
}

.drawing.top.left.six.anim {
  top: 100%;
  left: 326px;
}

.drawing.top.left.seven {
  top: 140px;
  left: 538px;
}

.drawing.top.left.seven.anim {
  top: 100%;
  left: 510px;
}

.hidden {
  display: none !important;
}

.logo {
  display: block;
  margin: 0 auto;
  height: 160px;
  max-width: 335px;
  text-align: center;
}

.logo img {
  height: 100%;
}

.mockup {
  width: 40%;
}

.store-link {
  width: 45%;
}

.store-link img {
  width: 100%;
}

.text-center {
  text-align: center;
}

.wrapper, .mockup {
  display: table-cell;
  vertical-align: middle;
}

.wrapper {
  width: 60%;
  padding: 40px 0;
}

.wrapper h1.anim,
.wrapper .logo.anim,
.mockup.anim
{
  animation: 1s linear 0s 1 normal fade-in;
}

.wrapper .description.anim,
.wrapper .actions.anim
{
  animation: 750ms linear 0s 1 normal fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (min-width: 1500px) {
  .mockup {
    width: 30%;
  }

  .wrapper {
    width: 70%;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0;
    background: url("https://s3-sa-east-1.amazonaws.com/mudamos-images/images/landing/background.png") #dedede;
  }

  h1 {
    font-size: 20px;
    letter-spacing: 0.53px;
    text-align: center;
  }

  p {
    font-size: 18.5px;
    line-height: 27px;
  }

  #download-links {
    position: relative;
  }

  .drawing.top.right {
    display: none;
  }

  .drawing.small {
    width: 10% !important;
    height: auto !important;
  }

  .drawing.big {
    width: 26% !important;
    height: auto !important;
  }

  .drawing.bottom.right {
    bottom: -6px;
    right: -2%;
  }

  .drawing.bottom.right.anim {
    bottom: 0;
    right: -2%;
    transform: translateY(100%);
  }

  .drawing.bottom.left {
    left: 0;
    bottom: -22px;
  }

  .drawing.bottom.left.anim {
    left: 0;
    bottom: 0;
    transform: translateY(100%);
  }

  .drawing.top.left.one {
    top: -6px;
    left: -4%;
  }

  .drawing.top.left.one.anim {
    top: 100%;
    left: -7%;
  }

  .drawing.top.left.two {
    top: -36px;
    left: 25%;
  }

  .drawing.top.left.two.anim {
    top: 100%;
    left: 22%;
  }

  .drawing.top.left.three {
    top: 46px;
    left: -1.5%;
  }

  .drawing.top.left.three.anim {
    top: 100%;
    left: -4.5%;
  }

  .drawing.top.left.four {
    top: 6px;
    left: 9%;
  }

  .drawing.top.left.four.anim {
    top: 100%;
    left: 6%;
  }

  .drawing.top.left.five {
    top: 0;
    left: 17%;
  }

  .drawing.top.left.five.anim {
    top: 100%;
    left: 14%;
  }

  .drawing.top.left.six {
    top: 14px;
    left: 24%;
  }

  .drawing.top.left.six.anim {
    top: 100%;
    left: 21%;
  }

  .drawing.top.left.seven {
    top: 40px;
    left: 40%;
  }

  .drawing.top.left.seven.anim {
    top: 100%;
    left: 37%;
  }

  .logo {
    height: 100px;
  }

  .mockup {
    display: none;
  }

  .wrapper {
    width: 100%;
    padding: 80px 0 10px;
  }
}

.drawing.anim {
  animation: 6s linear 0s infinite normal fly;
}

.drawing.anim.big {
  animation-duration: 3s;
}

.drawing.anim.small.bottom.right {
  animation-delay: 1.7s;
  animation-name: fly-small-bottom-right;
}

.drawing.anim.big.bottom.left {
  animation-delay: 2s;
  animation-name: fly-big-bottom-left;
}

.drawing.anim.big.top.right {
  animation-delay: 400ms;
  animation-name: fly-big-top-right;
}

.drawing.anim.big.top.left.one {
  animation-delay: 500ms;
  animation-name: fly-big-top-left-one;
}

.drawing.anim.big.top.left.two {
  animation-delay: 0s;
  animation-name: fly-big-top-left-two;
}

.drawing.anim.small.top.left.three {
  animation-delay: 1.3s;
  animation-name: fly-small-top-left-three;
}

.drawing.anim.small.top.left.four {
  animation-delay: 520ms;
  animation-name: fly-small-top-left-four;
}

.drawing.anim.small.top.left.five {
  animation-delay: 250ms;
  animation-name: fly-small-top-left-five;
}

.drawing.anim.small.top.left.six {
  animation-delay: 500ms;
  animation-name: fly-small-top-left-six;
}

.drawing.anim.small.top.left.seven {
  animation-delay: 850ms;
  animation-name: fly-small-top-left-seven;
}

@keyframes fly-small-bottom-right {
  to {
    bottom: 100%;
    right: -40px;
  }
}

@keyframes fly-big-bottom-left {
  to {
    bottom: 100%;
    left: 28%;
  }
}

@keyframes fly-big-top-right {
  to {
    top: -606px;
    right: -245px;
  }
}

@keyframes fly-big-top-left-one {
  to {
    top: -508px;
    left: 0;
  }
}

@keyframes fly-big-top-left-two {
  to {
    top: -320px;
    left: 26%;
  }
}

@keyframes fly-small-top-left-three {
  to {
    top: -114px;
    left: 0;
  }
}

@keyframes fly-small-top-left-four {
  to {
    top: -114px;
    left: 174px;
  }
}

@keyframes fly-small-top-left-five {
  to {
    top: -114px;
    left: 284px;
  }
}

@keyframes fly-small-top-left-six {
  to {
    top: -114px;
    left: 362px;
  }
}

@keyframes fly-small-top-left-seven {
  to {
    top: -114px;
    left: 546px;
  }
}

@media (max-width: 768px) {
  .drawing.anim.big.top.left.one {
    animation-delay: 100ms;
  }

  .drawing.anim.small.top.left.five {
    animation-delay: 100ms;
  }

  .drawing.anim.small.top.left.four {
    animation-delay: 170ms;
  }

  .drawing.anim.small.top.left.six {
    animation-delay: 230ms;
  }

  .drawing.anim.small.top.left.seven {
    animation-delay: 320ms;
  }

  .drawing.anim.big.bottom.left {
    animation-delay: 2.3s;
  }

  .drawing.anim.small.bottom.right {
    animation-delay: 2.3s;
  }

  @keyframes fly-small-bottom-right {
    to {
      bottom: 100%;
      right: -6%;
      transform: translateY(0);
    }
  }

  @keyframes fly-big-bottom-left {
    to {
      bottom: 100%;
      left: 10%;
      transform: translateY(0);
    }
  }

  @keyframes fly-big-top-left-one {
    to {
      top: 0;
      left: 3%;
      transform: translateY(-100%);
    }
  }

  @keyframes fly-big-top-left-two {
    to {
      top: 0;
      left: 32%%;
      transform: translateY(-100%);
    }
  }

  @keyframes fly-small-top-left-three {
    to {
      top: 0;
      left: 4.5%;
      transform: translateY(-100%);
    }
  }

  @keyframes fly-small-top-left-four {
    to {
      top: 0;
      left: 16%;
      transform: translateY(-100%);
    }
  }

  @keyframes fly-small-top-left-five {
    to {
      top: 0;
      left: 24%;
      transform: translateY(-100%);
    }
  }

  @keyframes fly-small-top-left-six {
    to {
      top: 0px;
      left: 31%;
      transform: translateY(-100%);
    }
  }

  @keyframes fly-small-top-left-seven {
    to {
      top: 0px;
      left: 47%;
      transform: translateY(-100%);
    }
  }
}
