header.header.clearfix
  nav.links
    a.link.def-text-color href="#"  Assine um Projeto
    a.link.def-text-color.current.underscore href="#"  Quem somos
  
  .logos.small
    = image_tag "static/logo.png", class: "logo"
    = image_tag "static/mudamos.png", class: "mudamos only-mobile"

article.content.about-us
  .general-info.gradient-section
    = image_tag "static/about-us-mobile.png",  class: "aboutus-mobile hidden-lg"
    .about-us.section
      h2.title.major-title Quem somos
      p.text.def-text-color
        | O aplicativo Mudamos é uma iniciativa do Instituto de Tecnologia e Sociedade do Rio de Janeiro (ITS Rio), premiada e financiada exclusivamente pelo prêmio Desafio Google de Impacto Social, vencido em 2016.

    .problem.section
      h2.title.major-title O problema
      p.text.def-text-color
        | Projetos de lei de iniciativa popular estão previstos na Constituição brasileira de 1988, porém, dada a grande dificuldade de coleta e verificação das assinaturas em papel, esses projetos dependiam de um parlamentar adotá-lo e apresentá-lo como sua própria iniciativa, limitando o exercício desse mecanismo de democracia direta. Além disso, a mobilização para a obtenção das assinaturas necessárias manteve-se como um desafio de logística e de custo, dificultando ainda mais esse processo.

    .solution.section
      h2.title.major-title A solução
      p.text.def-text-color
        | Já estava na hora de pensarmos uma solução que viabilizasse esse importante mecanismo de democracia direta atualizando-o por meio da tecnologia. Mudamos é um aplicativo que transforma seu smartphone em uma caneta digital, tornando a coleta de assinaturas em projetos de lei de iniciativa popular mais fácil, segura e transparente, possibilitando o exercício pleno desse direito aos cidadãos brasileiros, aproximando eleitores e seus representantes.
    
    .history.section
      h2.title.major-title Histórico
      p.text.def-text-color
        | Mudamos existe desde 2014 e foi construída como uma plataforma digital de construção coletiva e democrática de soluções para desafios de interesse público.
        | Seu objetivo é criar um debate informado com a colaboração de vários setores da sociedade de forma aberta e transparente, baseado em princípios de impacto e legitimidade. Em um momento político complexo como o que atravessamos no Brasil, Mudamos usa a tecnologia para convocar a sociedade para encontrar respostas a desafios públicos, aumentando a participação democrática.
  
  .faq.gradient-section
    h2.title.major-title Fale conosco
    .questions
      .question
        h3.title
          | 1) Quero trocar experiências com outros usuários
        p.text
          | Se você tem dúvidas sobre como formular projetos de lei ou deseja encontrar outras pessoas com as mesmas vontades de mudança, acesse o Fórum Mudamos.
        a.link.underscore href="#"  Acesse o fórum Mudamos
      
      .question
        h3.title
          | 2) Quero relatar problema ou obter ajuda sobre o aplicativo
        p.text
          | Se você percebeu alguma falha ou bug de funcionamento no App, por favor, nos avise! Contamos com sua contribuição para tornar essa experiência cada vez melhor.
        a.link.underscore href="#"  Acesse a Área de Suporte
      
      .question
        h3.title
          | 3) Quero promover o Mudamos
        p.text
          | Se você deseja ajudar a divulgar e fotalecer o aplicativo Mudamos em sua comunidade e em suas redes, queremos te ouvir! Quanto mais vozes, mais ecoaremos a mudança no Brasil.
        a.link.underscore href="#"  Quero ser embaixador  Mudamos
    
    .download
      a.btn href="#"  Faça o download do app
