.notification-message{
	box-sizing: border-box;
	background: #fff;
	width: 15px;
	height: 15px;
	display: inline-block;
	position: absolute;
	margin-left: 27px;
	margin-top: -2px;
	border-radius: 2px;
	text-align: center;
	color: #000;
	font-size: 8px;
	line-height: 2;
}