@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700,900,700italic|Merriweather:400,700,700italic,400italic);

$font-family-sans-serif: 'Merriweather Sans', sans-serif;
$font-family-serif: 'Merriweather', serif;
// $font-family-monospace: 'latin_modern_mono_10', monospace


$color-blue: #2766fc;
$color-dark-grey: #222222;
$color-light-grey: #9b9b9b;
$color-grid-dark-grey: #e0e0e0;
$color-grid-light-grey: #f5f5f5;

$navbar-height: 60px;
$navbar-default-bg: rgba($color-dark-grey, 0.7);
$navbar-default-border: none;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: white;

$secondary-navbar-height: 40px;

