@font-face {
  font-family: 'icomoon';
  src:url(font-path('icomoon.eot?11eroi'));
  src:url(font-path('icomoon.eot?11eroi#iefix')) format('embedded-opentype'),
    url(font-path('icomoon.ttf?11eroi')) format('truetype'),
    url(font-path('icomoon.woff?11eroi')) format('woff'),
    url(font-path('icomoon.svg?11eroi#icomoon')) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: 700;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baixeaqui:before {
    content: "\e921";
}
.icon-anonimo:before {
    content: "\e922";
}
.icon-deletar:before {
  content: "\e91c";
}
.icon-desabilitar:before {
  content: "\e91d";
}
.icon-destacado:before {
  content: "\e91e";
}
.icon-destaque:before {
  content: "\e91f";
}
.icon-publicar:before {
  content: "\e920";
}
.icon-calendar:before {
  content: "\e919";
}
.icon-edit:before {
  content: "\e91a";
}
.icon-plus:before {
  content: "\e91b";
}
.icon-boards:before {
  content: "\e917";
}
.icon-lista:before {
  content: "\e918";
}
.icon-dislike:before {
  content: "\e912";
}
.icon-like:before {
  content: "\e913";
}
.icon-close:before {
  content: "\e90d";
}
.icon-text:before {
  content: "\e90b";
}
.icon-author:before {
  content: "\e900";
}
.icon-share:before {
  content: "\e901";
}
.icon-email:before {
  content: "\e902";
}
.icon-interview:before {
  content: "\e903";
}
.icon-discussion:before {
  content: "\e904";
}
.icon-compilation:before {
  content: "\e905";
}
.icon-manifesto:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-clock:before {
  content: "\e908";
}
.icon-site:before {
  content: "\e90a";
}
.icon-video:before {
  content: "\e90c";
}
.icon-text2:before {
  content: "\e90e";
}
.icon-informations:before {
  content: "\e911";
}
.icon-success:before {
  content: "\e910";
}
.icon-coxinha:before {
  content: "\e914";
}
.icon-pombo:before {
  content: "\e915";
}
.icon-notifications:before {
  content: "\e916";
}
.icon-arrow:before {
  content: "\e909";
}
.icon-error:before {
  content: "\e90f";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-google:before {
  content: "\f0d5";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-tumblr:before {
  content: "\f173";
}
.icon-pinterest:before {
  content: "\f231";
}
.icon-hand-lizard-o:before {
  content: "\f258";
}
.icon-vimeo:before {
  content: "\f27d";
}
