@import "bourbon"
@import "bootstrap/variables"
@import "custom_variables"

body
  &.cycles-index
    background: #e6e6e6 image-url("textured_paper.png")

    .footer-nav
      margin-top: 30px
      background-color: transparent


    nav.navbar.navbar-default.navbar-fixed-top
      position: absolute
      top: calc(100% - #{$navbar-height})
      .navbar-brand,
      .navbar-toggle
        opacity: 0
        +transition(opacity 0.3s ease)
      &.stuck
        position: fixed
        top: 0
        .navbar-brand,
        .navbar-toggle
          opacity: 1

#cycles-index
  .blocks
    background-color: rgba(0, 0, 0, 0.4)
    position: relative

  .header
    background-color: #fff
    overflow: hidden
    position: relative
    height: 100vh

    h1
      font-family: $nunito-font
      font-size: 36px
      margin: 16px 0 0

    strong
      font-family: $fira-sans-font

    video, .image
      position: absolute
      height: 100%
      left: 0

    .image
      background-size: cover
      background-repeat: no-repeat
      background-position: center
      width: 100%

    .content
      display: table
      height: 100%

      .wrapper
        display: table-cell
        vertical-align: middle

    .logo
      height: 160px
      max-width: 100%

  .block
    margin-top: 100px
    background: #e6e6e6 image-url("textured_paper.png")
    font-family: $nunito-font
    padding: 75px 0
    font-size: 24px

    .next
      position: absolute
      bottom: -50px
      left: calc(50% - 20px)
      text-align: center

      a
        text-decoration: none

        &:hover, &:active
          text-decoration: none

        img
          width: 40px
          height: 40px

    &:first-of-type
      margin-top: 0

    &.no-title,
    &.carousel
      font-weight: 400
      font-size: 28px

    &.no-icon
      .content
        text-align: center

    &.purple
      background: linear-gradient(90deg, rgba(33, 17, 71, 0.85) 0, rgba(81, 51, 147, 0.85) 100%), image-url("textured_paper.png"), #e3e3e3
      color: #eeede9

      .next
        img.purple
          display: none

    &:not(.purple)
      .light-wrapper
        border-radius: 230px
        height: 230px
        width: 230px
        padding: 50px
        background: linear-gradient(90deg, rgba(33, 17, 71, 0.85) 0, rgba(81, 51, 147, 0.85) 100%)

        .icon
          width: 100%
          height: 100%

      .next
        img.white
          display: none

    &.carousel
      .drawing
        text-align: center

        .block-title
          margin: 16px 0 0

      .options
        margin-bottom: 50px

        .tool
          .block-title
            color: rgba(255, 255, 255, 0.8)

          &.active
            .block-title
              color: #fff

          &:hover
          &.active
            .icon
              height: 70px
              width: 70px
              margin: 5px

            .circle-wrapper
              background-color: rgba(255, 255, 255, 0.25)

          .block-title
            font-size: 22px
            margin-top: 10px

          .circle-wrapper
            display: inline-block
            padding: 20px
            background-color: rgba(255, 255, 255, 0.1)
            border-radius: 60px
            cursor: pointer
            +transition(all 0.2s ease)

      .icon
        display: block
        background-size: contain
        background-repeat: no-repeat
        background-position: center
        +transition(all 0.2s ease)

        &.highlighted
          height: 120px
          width: 120px

        &.medium
          height: 60px
          width: 60px
          margin: 10px

    &.solution
      .background-drawing
        &.top-left
          height: 74px
          left: calc(100%/12 * 4 - 25px)
          top: 40px
          transform: rotate(195deg)

        &.top-right
          height: 114px
          right: calc(100%/12 * 3)
          top: 30px
          transform: rotate(240deg)

        &.bottom-right
          bottom: 50px
          right: calc(100%/12 * 3)
          transform: rotate(350deg)
          height: 130px

    &.mobilization
      margin-bottom: 100px
      position: relative

      .background-drawing
        top: 50px
        height: calc(100% - 100px)
        right: calc(100%/12 * 2)

    h2
      font-family: $fira-sans-font
      font-size: 28px
      font-weight: bold
      margin: 0 0 16px

    strong
      font-family: $fira-sans-font

    .drawing
      .light-wrapper
        display: inline-block

      .icon
        background-size: contain
        background-position: center
        background-repeat: no-repeat
        display: inline-block
        height: 175px
        width: 175px

    .background-drawing
      position: absolute

  @media (min-width: 1.5 * $screen-lg-min)
    .header
      video
        left: 25%

    .carousel
      > .content
        margin-left: 0

  @media (min-width: $screen-md-min)
    .block
      &.mobilization
        padding: 30px

      .drawing
        text-align: center

        .icon
          background-position: center

      .content
        padding-left: 40px

      &.no-icon
        .content
          padding-left: 0

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
    .block
      padding: 50px 0
      text-align: center
      font-size: 21px

      .next
        bottom: -40px

      &:not(.purple)
        .drawing
          .light-wrapper
            padding: 40px
            height: 200px
            width: 200px

      .drawing
        margin-bottom: 25px

        .icon
          height: 100px
          width: 100px

      &.no-title
        font-size: 24px

      h2
        font-size: 24px
        margin-bottom: 8px

    .header
      h1
        font-size: 32px

      video
        opacity: 0.3

  @media (max-width: $screen-xs-max)
    .block
      padding: 30px 22px 40px
      text-align: center
      font-size: 16px

      .next
        bottom: -35px

      &:not(.purple)
        .drawing
          .light-wrapper
            padding: 30px
            height: 130px
            width: 130px

      .drawing
        margin-bottom: 16px

        .icon
          height: 100px
          width: 100px

      &.no-title
        font-size: 18px

      h2
        font-size: 18px
        margin-bottom: 6px

    .header
      h1
        font-size: 24px

      video
        opacity: 0.5
