- breadcrumb :edit_blog_post, @blog_post
/ section.not-centered#cycle-description
/   .container
/     .row
/       .col-xs-12.text-center
/         h1 Edição de Post

= render 'admin/blog_posts/form'
